.cards {
   background: url(./svg/squares.svg);

   &__termsLength {
      text-align: center;
      color: #ffffff;
      margin: 20px 0;
   }

   &__wrapper {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      margin-bottom: 5%;

      .card {
         margin-bottom: 20px;

         span {
            width: 100%;
            &:first-child {
               width: 60%;
            }
         }

         .lineHeight {
            margin: 0 50px;
         }

         .threeDot {
            cursor: pointer;
         }
      }
   }

   &__create {
      margin-top: 50px;

      .modulePopup {
         cursor: pointer;
         user-select: none;

         .card {
            justify-content: space-between;
            align-items: center;

            span {
               font-size: 25px;
               font-weight: 700;
            }

            svg {
               transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);

               &.rotate {
                  transform: rotate(180deg);
               }
            }
         }

         &__list {
            position: relative;
            width: 100%;
            cursor: pointer;

            .active {
               color: #7d4eff;
            }

            ul {
               position: absolute;
               max-height: 220px;
               overflow: auto;
               margin: 0;
               padding: 0;
               width: 100%;
               background-color: #181818;
               color: #fff;
               font-weight: 700;
               border-radius: 0 0 2px 2px;

               li {
                  padding: 10px 20px;
                  user-select: none;

                  &:hover {
                     background-color: #131313;
                     color: #8e65ff;
                  }
               }
            }
         }
      }
   }

   &__addContent {
      margin-top: 20px;
      display: flex;
      flex-direction: row;

      .sendForm {
         flex-basis: 90%;
         margin-right: 20px;

         input {
            color: #000;
            border-bottom: 2px solid #000;
            margin-right: 20px;
            &:focus {
               border-bottom: 3px solid #000;
            }
         }

         button {
            background-color: #000000;
            color: #ffffff;
            &:hover,
            &:focus {
               color: #8e65ff;
            }

            &:disabled,
            &[disabled] {
               background-color: #21bd58;
               color: #2e2e2e;
               cursor: default;
            }
         }
      }

      .toggleModule {
         flex-basis: 10%;
         min-width: 90px;
         width: 100%;
         border-radius: 2px;
         background-color: #1ed760;
         transition: background-color 0.1s linear;

         button {
            width: 100%;
            height: 100%;
            font-size: 30px;
            color: #000;
         }
      }
   }
}

@media (max-width: 600px) {
   .cards__wrapper {
      .card {
         .lineHeight {
            margin: 0 25px;
         }

         .threeDot svg {
            display: none;
         }
      }
   }
   .cards__addContent {
      flex-wrap: wrap-reverse;
      .sendForm {
         flex-wrap: wrap;
         margin-right: 0;
         margin-top: 20px;
         flex-basis: 100%;
         input {
            margin-right: 0;
            margin-bottom: 20px;
         }
         button {
            width: 100%;
         }
      }
      .toggleModule {
         flex-basis: 100%;
         button {
            font-size: 40px;
         }
      }
   }
}
