.cards-squares {
   background: url(./svg/squares.svg);
}

.terms-length {
   text-align: center;
   color: #ffffff;
}

.card {
   display: inline-flex;
   width: 100%;
   border-radius: 2px;
   padding: 20px;
   background-color: #1ed760;
   color: #000;

   &__hover {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 150px;
      background-color: #1e3ad7;
      box-shadow: 4px 6px rgb(56, 0, 0);

      button {
         display: flex;
         align-items: center;
         width: 100%;

         svg {
            margin-right: 10px;
         }
      }
   }
}

.create {
   .createModule {
      background-color: #7543ff;

      button {
         &:disabled,
         &[disabled] {
            background-color: #6b38f7 !important;
         }
      }
   }

   .popup {
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      svg {
         transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);

         &.rotate {
            transform: rotate(180deg);
         }
      }

      h4 {
         margin: 0;
      }

      &__visible {
         position: relative;
         width: 100%;
         cursor: pointer;

         ul {
            max-height: 220px;
            overflow: auto;
            position: absolute;
            margin: 0;
            padding: 0;
            width: 100%;
            background-color: #181818;
            color: #fff;
            font-weight: 700;

            li {
               padding: 10px 20px;
               &:hover {
                  background-color: #131313;
                  color: #8e65ff;
               }
            }
         }
      }
   }

   .send-form {
      margin-top: 20px;
      input {
         border-bottom: 2px solid #000;
         margin-right: 20px;
         &:focus {
            border-bottom: 3px solid #000;
         }
      }

      button {
         background-color: #000000;
         color: #ffffff;
         &:hover,
         &:focus {
            color: #8e65ff;
         }

         &:disabled,
         &[disabled] {
            background-color: #21bd58;
            color: #2e2e2e;
            cursor: default;
         }
      }
   }
}

.modulePanel {
   display: inline-flex;
   width: 100%;

   &__left {
      width: 90%;
      margin-right: 20px;
   }

   &__right {
      width: 10%;
      border-radius: 2px;
      background-color: #1ed760;
      transition: background-color 0.1s linear;

      &:hover {
         background-color: #7543ff;
      }

      button {
         width: 100%;
         height: 100%;
         font-size: 30px;
         color: #000;
      }
   }
}

.cards-wrapper {
   display: flex;
   flex-direction: column-reverse;
   width: 100%;
   margin-bottom: 5%;

   .card {
      margin-top: 20px;

      span {
         width: 100%;
         &:first-child {
            width: 60%;
         }
      }

      .line-height {
         margin: 0 50px;
      }
   }
}
