.modals-waves {
   background: url(./svg/waves.svg);
   background-position: center;
   background-size: auto;
}

.modals {
   flex-direction: column;
   margin-bottom: 50px !important;

   a {
      width: inherit;
      margin-top: 20px;
      &:first-child {
         margin-top: 0;
      }

      .card {
         background-color: #181818;
         color: #1ed760;
         &:hover {
            background-color: #1ed760;
            color: #000;
         }
      }
   }
}
