@import './card.scss';
@import './learn.scss';
@import './preloader.scss';

body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
      'Droid Sans', 'Helvetica Neue', sans-serif;

   background-color: #131313;
   color: #fff;
   font-size: 25px;
}

::-webkit-scrollbar {
   width: 15px;
}

::-webkit-scrollbar-track {
   background: transparent;
}

::-webkit-scrollbar-thumb {
   background-color: #ffffff4d;
}

::-webkit-scrollbar-thumb:hover {
   background-color: #ffffff71;
}

*,
*::before,
*::after {
   box-sizing: border-box;
   list-style: none;
   outline: none;
}

a {
   color: inherit;
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

::placeholder {
   color: #0000006b;
   user-select: none;
}

button,
input {
   font-family: inherit;
   background-color: transparent;
   border: 1px solid transparent;
   color: #f5f5f5;
   font-size: 25px;
}
button {
   border-radius: 5px;
   cursor: pointer;
   user-select: none;
}

.sendForm {
   align-items: center;

   input {
      width: 100%;
      border-bottom: 1px solid transparent;
      transition: border 0.1s linear !important;
      &:focus {
         border-bottom: 3px solid transparent;
      }
   }

   button {
      padding: 5px 10px;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1.5px;
      transition: color 0.1s linear, background-color 0.1s linear;
   }
}

.header {
   padding: 0 2.5%;
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #000000;

   &__logo {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
         font-weight: 700;
         font-size: 32px;
      }

      svg {
         font-size: 40px;
      }
   }
}

.container {
   max-width: 970px;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   padding: 0 20px;
}

.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
}

.lineHeight {
   width: 5px;
   background-color: #000;
}

.lineWidth {
   height: 3px;
   background-color: #000;
}

.card {
   display: inline-flex;
   width: 100%;
   border-radius: 2px;
   padding: 20px;
   background-color: #1ed760;
   color: #000;

   span {
      word-break: break-word;
   }

   &__hover {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 150px;
      background-color: #1a1a1a;
      box-shadow: 4px 6px #1d1d1d;
      transform: translateX(-80%);

      button {
         display: flex;
         align-items: center;
         width: 100%;
         color: #7c0000;

         svg {
            margin-right: 10px;
         }
      }
   }

   h3 {
      padding: 20px 0;
   }
}

.modals {
   background: url(./svg/waves.svg);
   background-position: bottom;
   background-size: auto;

   &__columns {
      flex-direction: column;
      margin-top: 50px;
      margin-bottom: 50px;

      .card {
         width: 100%;
         margin: 10px auto;
         background-color: #181818;
         color: #1ed760;
         &:hover {
            background-color: #1ed760;
            color: #000;
         }
         h3 {
            word-break: break-all;
         }
      }
   }
}

@media (max-width: 768px) {
   .container {
      width: 100%;
      padding: 0 10px;
   }
}
@media (max-width: 300px) {
   .header__logo {
      span {
         display: none;
      }
   }
}
